@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
:root
{
    --left-bg-color:rgba(87,84,236,0.7);
    --right-bg-color:rgba(43,43,43,0.8);
    --left-btn-color:rgba(87,83,236,1);
    --right-btn-color:rgb(239, 243, 8);

    --hover-width:75%;
    --other-width:25%;
    --speed: 1000ms;
}

* 
{
    box-sizing: border-box;
}

body
{
    font-family: 'Mochiy Pop P One ',sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1
{
    font-size: 4rem;
    color :#fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;/*para não mudar as letras para a linha de baixo de modo a caber o texto todo na janela conforme o tamanho da janela*/
}

.btn
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.meia.esq .btn:hover
{
    background-color: var(--left-btn-color);
    border-color: var(--left-btn-color);
}
.meia.dir .btn:hover
{
    background-color: var(--right-btn-color);
    border-color: var(--right-btn-color);
    color: black;
}

.main
{
    position: relative; /*POSICAO PAI NO MAIN*/
    width: 100%;    
    height: 100%;
    background: #333;
}

.meia
{
    position: absolute; /*MEIA COM ABSOLUTE*/
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.meia.esq
{
    left:0;/*posição à esq*/
    background: url('noite.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.meia.esq::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.meia.dir
{
    right: 0;/*posição à direita*/
    background: url('sol.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.meia.dir::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
/*Para efeito de transição entre meia esq e meia direita, aplicar a todas estas classes a var em transition*/
.meia.esq , .meia.dir, .meia.dir::before, .meia.esq::before
{
    transition: all var(--speed) ease-in-out;
}

.hover-left .esq
{
    width: var(--hover-width);
}
.hover-left .dir
{
    width: var(--other-width);
}
.hover-right .dir
{
    width: var(--hover-width);
}
.hover-right .esq
{
    width: var(--other-width);
}



@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    .main
    {
        width: 100vw;
        
    }
    footer 
    {
        display: none;
    };
}

@media (max-width: 800px)
{
    h1 
    {
        font-size: 2rem;
    }

    .btn
    {
        padding: 1.2rem;
        width: 12rem;
    }
}


/*estilos do footer */

footer{
    font-size: 8pt;
    color: chartreuse;
    
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 0;
    
    
}

footer a{
   color: #edf5e1;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: red;
}


